body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
  background: linear-gradient(89deg, #12c2e9 0%, #c471ed 50%, #f64f59 100%);
}

button {
  cursor: pointer;
}